.Preview {
  padding: 1rem;
  padding-top: 0;
  color: #132743;
  overflow-wrap: break-word;
}

.Preview h1,
.Preview h2,
.Preview h3,
.Preview h4,
.Preview h5,
.Preview h6 {
  /* color: #7a6a99; */
  line-height: 1;
}

.Preview h1 {
  margin-top: 0;
  font-size: 3.052em;
}

.Preview h2 {
  font-size: 2.441em;
}

.Preview h3 {
  font-size: 1.953em;
}

.Preview h4 {
  font-size: 1.563em;
}

.Preview h5 {
  font-size: 1.25em;
}

.Preview h6 {
  font-size: 1.1em;
}

p {
  margin-bottom: 1.15rem;
}

.Preview a {
  color: #7d45b0;
}

#headings,
#paragraphs,
#line-breaks,
#emphasis,
#blockquotes,
#lists,
#unordered-lists,
#ordered-lists,
#code-blocks,
#horizontal-rules,
#images,
#links,
#urls-and-email-addresses,
#task-lists,
#tables {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4ec04e;
  font-weight: normal;
}

.Preview p:first-of-type {
  margin-top: 0;
}

.Preview p:first-of-type strong {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  color: #a4627b;
}
